:root {
  --color-background: hsl(336, 8%, 12%);
  --color-accent-neutral: hsl(167, 100%, 32%);
  --color-accent-light: hsl(167, 100%, 53%);
  --color-text-0: hsl(240, 60%, 99%);
  --color-text-1: hsl(240, 10%, 83%);
}

[data-theme=light] {
  --color-background: hsl(0, 0%, 100%);
  --color-accent-neutral: hsl(167, 100%, 22%);
  --color-accent-light: hsl(167, 100%, 43%);
  --color-text-0: hsl(336, 8%, 20%);
  --color-text-1: hsl(336, 8%, 30%);
}

.main {
  margin-top: 3em;
}
.main__cover {
  width: clamp(100px, 100%, 495px);
}
.main__cover > img {
  border-radius: 10px;
  width: 100%;
}
.main__songs {
  margin-top: 3em;
  width: 100%;
}

.cover-info {
  margin-top: 1em;
  text-align: right;
}
.cover-info__title {
  font-style: italic;
}

.song {
  font-size: clamp(1rem, 2vw, 1.25rem);
  margin-bottom: 0.5em;
}
.song__title {
  color: var(--color-text-0);
  font-weight: 500;
  transition: color 0.75s;
}

.title {
  color: var(--color-text-0);
  font-size: clamp(5rem, 12vw, 8rem);
  letter-spacing: -0.35rem;
  line-height: 1;
  margin-top: 0.5em;
  transition: color 0.75s;
}

.sub-title {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-style: italic;
  margin-top: 2em;
}

.link {
  background-color: var(--color-accent-light);
  border-radius: 8px;
  border: 2px solid transparent;
  color: hsl(336deg, 8%, 20%);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  margin-bottom: -1px;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.link:hover {
  background-color: var(--color-accent-neutral);
}

.date {
  color: var(--color-accent-neutral);
  font-size: clamp(3rem, 6vw, 4rem);
  letter-spacing: -0.15rem;
  margin-top: 3rem;
  transition: color 0.75s;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

a {
  display: block;
  max-width: max-content;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  transition: all 0.5s;
}

.theme-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--color-text-1);
  cursor: pointer;
  float: right;
  height: 3em;
  margin-top: -0.5em;
  padding-top: 0.175em;
  width: 3em;
}
.theme-button:hover {
  background-color: hsla(0deg, 0%, 50%, 0.15);
  color: var(--color-text-0);
}

.icon:active {
  rotate: 270deg;
}

@media (min-width: 1025px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .main__songs {
    margin-left: 2rem;
    margin-top: 0;
    width: 50%;
  }
  .main__cover {
    width: 50%;
  }
}
html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

.wrapper {
  background-color: var(--color-background);
  color: var(--color-text-1);
  min-height: 100vh;
  display: grid;
  place-items: center;
  transition: all 0.75s;
}

.app {
  max-width: 1025px;
  padding: 2em 0.5em 4em 0.5em;
}

/*# sourceMappingURL=index.css.map */
