/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

a {
  display: block;
  max-width: max-content;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-back-0: hsl(72, 24%, 4%);
  --color-main-0: hsl(25, 53%, 55%);
  --color-main-1: hsl(25, 53%, 65%);
  --color-text-0: hsl(356, 71%, 95%);
  --color-text-1: hsl(356, 20%, 80%);
}

[data-theme=light] {
  --color-back-0: hsl(0, 0%, 98%);
  --color-main-0: hsl(25, 53%, 50%);
  --color-main-1: hsl(25, 53%, 40%);
  --color-text-0: hsl(356, 71%, 5%);
  --color-text-1: hsl(356, 71%, 15%);
}

.title {
  color: var(--color-text-0);
  font-size: clamp(4rem, 12vw, 5rem);
  letter-spacing: -0.35rem;
  line-height: 1;
  transition: color 0.75s;
}

.sub-title {
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-style: italic;
  margin-top: 2em;
}

.link {
  background-color: var(--color-main-1);
  border-radius: 8px;
  border: 2px solid transparent;
  color: var(--color-back-0);
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: 700;
  margin-bottom: -1px;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.link:hover {
  background-color: var(--color-main-0);
}

.date {
  color: var(--color-main-0);
  font-size: clamp(2.5rem, 7.25vw, 3rem);
  letter-spacing: -0.15rem;
  margin-top: 3rem;
  transition: color 0.75s;
}

.main {
  margin-top: 3em;
}
.main__cover {
  width: clamp(100px, 100%, 495px);
}
.main__cover > a > img {
  border-radius: 10px;
  width: 100%;
}
.main__songs {
  margin-top: 3em;
  width: 100%;
}

.cover-info {
  margin-top: 1em;
  text-align: right;
}
.cover-info__title {
  font-style: italic;
}

.song {
  border-radius: 5px;
  color: var(--color-text-1);
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin-bottom: 0.25em;
  padding: 0.125em;
  text-decoration: none;
}
.song__title {
  color: var(--color-text-0);
  font-weight: 500;
  transition: color 0.75s;
}
.song:hover {
  background-color: hsla(0deg, 0%, 50%, 0.15);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  transition: all 0.5s;
}

.theme-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--color-text-1);
  cursor: pointer;
  float: right;
  height: 3em;
  margin-top: -0.5em;
  padding-top: 0.175em;
  width: 3em;
}
.theme-button:hover {
  background-color: hsla(0deg, 0%, 50%, 0.15);
  color: var(--color-text-0);
}

.icon:active {
  rotate: 270deg;
}

@media (min-width: 1025px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .main__songs {
    margin-left: 2rem;
    margin-top: 0;
    width: 50%;
  }
  .main__cover {
    width: 50%;
  }
}
html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
}

.wrapper {
  background-color: var(--color-back-0);
  color: var(--color-text-1);
  min-height: 100vh;
  display: grid;
  place-items: center;
  transition: all 0.75s;
}

.app {
  max-width: 1080px;
  padding: clamp(0.125em, 3vw, 2em);
}

/*# sourceMappingURL=index.css.map */
