/* root rules */
:root {
  /* font sizes */
  --fs-xl: clamp(3rem, 12vw + 1rem, 6rem);
  --fs-l: 2rem;
  --fs-m: 1rem;

  /* colours */
  --clr-main: #9059ff;
  --clr-main-light: #cc9eff;
  --clr-black: #1a1a1a;
  --clr-white: #c1c1c1;
  --clr-pure-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  display: grid;
  place-items: center;
  font-family: 'Space Mono', monospace;
  /* background-color: #fafafa; */
  /* color: #42425a; */
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 12px;
}

body {
  padding: 2em 0.25em 4em;
}

.title {
  font-size: var(--fs-xl);
  letter-spacing: -5px;
}

.sub-title {
  margin-top: 0.5em;
  font-size: var(--fs-m);
  font-style: italic;
}

.link {
  margin-top: 2em;
  font-weight: 700;
  color: var(--clr-pure-white);
  font-size: var(--fs-m);
}

.link > a {
  background-color: var(--clr-main-light);
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--clr-black);
}

.date {
  color: var(--clr-main);
  font-size: var(--fs-l);
  margin-top: 1em;
  letter-spacing: -1px;
}

h1,
h2,
.song--author {
  /* color: #20123a; */
  color: var(--clr-pure-white);
}

.songs-container {
  margin-top: 2em;
}

.song {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-m);
}

.song--title {
  font-style: italic;
}

.song--separator {
  display: none;
}

/* media queries */
@media (min-width: 725px) {
  :root {
    --fs-l: 2.5rem;
    --fs-m: 1.25rem;
  }
}

@media (min-width: 1080px) {
  :root {
    --fs-l: 3rem;
    --fs-m: 1.5rem;
  }
  .song {
    flex-direction: row;
    margin-top: 1px;
  }
  .song--separator {
    display: unset;
  }
}
