/* root rules */
:root {
  /* font sizes */
  --font-size-xl: clamp(3rem, 12vw + 1rem, 6rem);
  --font-size-l: clamp(2rem, 6vw, 2.5rem);
  --font-size-m: clamp(1rem, 4vw, 1.5rem);

  /* colours */
  --color-purple-0: #9059ff;
  --color-purple-1: #cc9eff;
  --color-mono-0: #15141a;
  --color-mono-1: #cfcfd8;
  --color-mono-2: #fbfbfe;
}

/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* MAIN */

html {
  background-color: var(--color-mono-0);
  color: var(--color-mono-1);
  display: grid;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  height: 100%;
  place-items: center;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.2;
  padding: 0.25em 0.25em 4em 0.25em;
}

a {
  display: block;
  max-width: max-content;
}

/* TITLE AND SUBTITLE */

.title {
  color: var(--color-mono-2);
  font-size: var(--font-size-xl);
  letter-spacing: -5px;
}

.sub-title {
  font-size: var(--font-size-m);
  font-style: italic;
  margin-top: 1rem;
}

/* SPOTIFY LINK */

.link {
  background-color: var(--color-purple-1);
  border-radius: 6px;
  color: var(--color-mono-0);
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
}

/* DATE */

.date {
  color: var(--color-purple-0);
  font-size: var(--font-size-l);
  letter-spacing: -1px;
  margin-top: 3rem;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  margin-top: 3em;
}

.main-container--songs {
  width: 100%;
}

.song {
  font-size: var(--font-size-m);
  margin-top: 0.25em;
}

.song--title {
  color: var(--color-mono-2);
}
