// shades of the main colour
$color-main-neutral: hsl(167, 100%, 32%);
$color-main-light: hsl(167, 100%, 53%);
$color-main-dark: hsl(336, 8%, 12%);

// shades of white
$color-white-1: #cfcfd8;
$color-white-0: #fbfbfe;
