// default colors (dark theme is default)
:root {
  // shade of the background color
  --color-back-0: #18181b;

  // shades of the main color
  --color-main-0: #a16207;
  --color-main-1: #eab308;

  // shades of the text color
  --color-text-0: #f4f4f5;
  --color-text-1: #e4e4e7;
}

// colors for the light theme
[data-theme='light'] {
  // shade of the background color
  --color-back-0: #f4f4f5;

  // shades of the main color
  --color-main-0: #a16207;
  --color-main-1: #713f12;

  // shades of the text color
  --color-text-0: #27272a;
  --color-text-1: #27272a;
}

// due to how data-* attributes work with CSS we have to use the vanilla var() variables, and only then can we reuse them as the $ SASS variables in other parts of the app
$color-back-0: var(--color-back-0);

$color-main-0: var(--color-main-0);
$color-main-1: var(--color-main-1);

$color-text-0: var(--color-text-0);
$color-text-1: var(--color-text-1);
