// default colors (dark theme is default)
:root {
  // shade of the background color
  --color-back-0: hsl(72, 24%, 4%);

  // shades of the main color
  --color-main-0: hsl(25, 53%, 55%);
  --color-main-1: hsl(25, 53%, 65%);

  // shades of the text color
  --color-text-0: hsl(356, 71%, 95%);
  --color-text-1: hsl(356, 20%, 80%);
}

// colors for the light theme
[data-theme='light'] {
  // shade of the background color
  --color-back-0: hsl(0, 0%, 98%);

  // shades of the main color
  --color-main-0: hsl(25, 53%, 50%);
  --color-main-1: hsl(25, 53%, 40%);

  // shades of the text color
  --color-text-0: hsl(356, 71%, 5%);
  --color-text-1: hsl(356, 71%, 15%);
}

// due to how data-* attributes work with CSS we have to use the vanilla var() variables, and only then can we reuse them as the $ SASS variables in other parts of the app
$color-back-0: var(--color-back-0);

$color-main-0: var(--color-main-0);
$color-main-1: var(--color-main-1);

$color-text-0: var(--color-text-0);
$color-text-1: var(--color-text-1);
