// default colours ( dark theme is default)
:root {
  --color-background: #1a1f23;

  // shades of the accent colour
  --color-accent-neutral: #c0945d;
  --color-accent-light: #cca77b;

  // shades of the text colour
  --color-text-0: #fbfbfe;
  --color-text-1: #cfcfd8;
}

// colours for the light theme
[data-theme='light'] {
  --color-background: #ffffff;

  // shades of the accent colour
  --color-accent-neutral: #a2753f;
  --color-accent-light: #c0945d;

  // shades of the text colour
  --color-text-0: #372f32;
  --color-text-1: #53464b;
}

// due to how data-* attributes work with CSS we have to use the vanilla var() variables, and only then can we reuse them as the $ SASS variables in other parts of the app
$color-accent-neutral: var(--color-accent-neutral);
$color-accent-light: var(--color-accent-light);
$color-background: var(--color-background);

$color-text-0: var(--color-text-0);
$color-text-1: var(--color-text-1);
