@use 'colors' as *;
@use 'fonts' as *;

// title
.title {
  color: $color-text-0;
  font-size: $font-size-xl;
  letter-spacing: -0.35rem;
  line-height: 1;
  transition: color 0.75s;
}

// subtitle
.sub-title {
  font-size: $font-size-m;
  font-style: italic;
  margin-top: 2em;
}

// spotify link
.link {
  background-color: $color-main-1;
  border-radius: 8px;
  border: 2px solid transparent;
  color: $color-back-0;
  font-size: $font-size-m;
  font-weight: 700;
  margin-bottom: -1px;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-main-0;
  }
}

// date
.date {
  color: $color-main-0;
  font-size: $font-size-l;
  letter-spacing: -0.15rem;
  margin-top: 3rem;
  transition: color 0.75s;
}
