/*
  imports
*/
@use 'colours' as *;
@use 'fonts' as *;
@use 'container';
@use 'resets';

@use 'mediaQueries';

/*
  main elements
*/
html {
  font-family: $font-sans;
  font-size: 12px;
}

.wrapper {
  background-color: $color-background;
  color: $color-text-1;
  min-height: 100vh;
  display: grid;
  place-items: center;
  transition: all 0.75s;
}

.app {
  max-width: 1025px;
  padding: 2em 0.5em 4em 0.5em;
}

/*
  title
*/
.title {
  color: $color-text-0;
  font-size: $font-size-xl;
  letter-spacing: -0.35rem;
  line-height: 1;
  margin-top: 0.5em;
  transition: color 0.75s;
}

.sub-title {
  font-size: $font-size-m;
  font-style: italic;
  margin-top: 2em;
}

.theme-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  float: inline-end;
  height: 3em;
  margin-top: -0.5em;
  width: 3em;
}

/*
  spotify link
*/
.link {
  background-color: $color-accent-light;
  border-radius: 8px;
  border: 2px solid transparent;
  color: hsl(336, 8%, 20%);
  font-size: $font-size-m;
  font-weight: 700;
  margin-bottom: -1px;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-accent-neutral;
  }
}

/*
  date
*/
.date {
  color: $color-accent-neutral;
  font-size: $font-size-l;
  letter-spacing: -0.15rem;
  margin-top: 3rem;
  transition: color 0.75s;
}

/*
  icons
*/
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  transition: all 0.75s;
}

.icon__dark {
  color: $color-text-0;
}
.icon__light {
  color: $color-text-0;
}
