/*
  imports
*/
@use 'colours' as *;
@use 'fonts' as *;
@use 'container';
@use 'resets';
@use 'mediaQueries';

/*
  main elements
*/
html {
  font-family: $font-sans;
  font-size: 12px;
  background-color: red;
}

.wrapper {
  background-color: $color-main-dark;
  color: $color-white-1;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  max-width: 1025px;
}

/*
  title
*/
.title {
  color: $color-white-0;
  font-size: $font-size-xl;
  letter-spacing: -0.35rem;
}

.sub-title {
  font-size: $font-size-m;
  font-style: italic;
}

/*
  spotify link
*/
.link {
  background-color: $color-main-light;
  border-radius: 8px;
  border: 2px solid transparent;
  color: $color-main-dark;
  font-size: $font-size-m;
  font-weight: 700;
  margin-bottom: -1px;
  margin-top: 4rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-main-neutral;
  }
}

/*
  date
*/
.date {
  color: $color-main-neutral;
  font-size: $font-size-l;
  letter-spacing: -0.15rem;
  margin-top: 3rem;
}
