@use 'colors' as *;
@use 'fonts' as *;

.main {
  margin-top: 3em;

  &__cover {
    width: clamp(100px, 100%, 495px);

    > a > img {
      border-radius: 10px;
      width: 100%;
    }
  }

  &__songs {
    margin-top: 3em;
    width: 100%;
  }
}

.cover-info {
  margin-top: 1em;
  text-align: right;

  &__title {
    font-style: italic;
  }
}

.song {
  border-radius: 5px;
  color: $color-text-1;
  font-size: $font-size-m;
  margin-bottom: 0.25em;
  padding: 0.125em;
  text-decoration: none;

  &__title {
    color: $color-text-0;
    font-weight: 500;
    transition: color 0.75s;
  }

  &:hover {
    background-color: hsl(0 0% 50% / 0.15);
  }
}
