@media (min-width: 1025px) {
  .main {
    display: flex;
    flex-direction: row;

    &__songs {
      margin-left: 2rem;
      margin-top: 0;
      width: 50%;
    }

    &__cover {
      width: 50%;
    }
  }
}
